# KFIR EXPERIMENTATION

# SETUP: DEPENDENCIES AND CREDENTIALS

## Working Directory

What is the current working directory?:

In [5]:
import os
os.getcwd()

'C:\\Users\\Clokman\\Google Drive\\__Projects__\\Code\\KFIR\\notebooks'

Add parent directory to path if necessary:

In [6]:
import sys, os, re

working_directory = os.getcwd()
if re.search('\\\\notebooks$', working_directory):
    one_directory_up = re.sub('\\\\notebooks$', '', working_directory)
    sys.path.append(one_directory_up)
    
sys.path

['',
 'C:\\ProgramData\\Anaconda3\\python36.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Sphinx-1.5.1-py3.6.egg',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\setuptools-27.2.0-py3.6.egg',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\Clokman\\.ipython',
 'C:\\Users\\Clokman\\Google Drive\\__Projects__\\Code\\KFIR']

## Plotly

For a comprehensive list of example graphs, see: https://plot.ly/python/

Check current version:

In [7]:
from plotly import __version__ as plotly_version
plotly_version

'2.5.1'

### Online Plotly

Read plotly credentials from file:

In [8]:
from preprocessor.Text_File import Text_File

plotly_file = Text_File('..//private//plotly_credentials')
plotly_file = plotly_file.return_content()
plotly_credentials = plotly_file.splitlines()

plotly_username = plotly_credentials[0]
plotly_key = plotly_credentials[1]

Set parameters for online usage:

In [9]:
import plotly.plotly as plotly_online
iplot_online = plotly_online.iplot
import plotly.graph_objs as graph_objects
from plotly.tools import set_credentials_file

set_credentials_file(username=plotly_username, api_key=plotly_key)  # put your own plotly username and api key here

Online example:

List input:

In [10]:
data = [graph_objects.Bar(x=['A','B','C'],
                          y=[1,2,3])]

iplot_online(data, filename='wos_stats')

Dictionary input (line chart by default):

In [11]:
iplot_online([{"x": ['A', 'B', 'C'], "y":[1, 2, 3] }], filename='wos_stats')

### Offline Plotly

Setup for offline usage:

In [12]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot
from plotly.offline import iplot as iplot_offline
init_notebook_mode(connected=True)

Example usage:

In [13]:
iplot_offline([{"x": [1, 2, 3], "y": [3, 1, 6]}])

## Triplicator: Sparql_Query

This is a generic module for returning SPARQL query results, but not as a Pandas DataFrame as Gastrodon does.

In [14]:
from retriever.sparql_tools import Sparql_Query

Read endpoint from file:

In [15]:
from preprocessor.Text_File import Text_File

# Get endpoint address from file
eculture_endpoint_url_file = Text_File('..//private//eculture_virtuoso_endpoint_address')
eculture_endpoint_url = eculture_endpoint_url_file.return_content()

In [16]:
query = Sparql_Query()
query.set_endpoint(eculture_endpoint_url)

In [17]:
query.set_query("SELECT ?s ?p ?o WHERE {?s ?p ?o} LIMIT 5")
query.retrieve_results_from_endpoint()

{1: {'o': 'http://www.openlinksw.com/schemas/virtrdf#QuadMapFormat',
  'p': 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type',
  's': 'http://www.openlinksw.com/virtrdf-data-formats#default-iid'},
 2: {'o': 'http://www.openlinksw.com/schemas/virtrdf#QuadMapFormat',
  'p': 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type',
  's': 'http://www.openlinksw.com/virtrdf-data-formats#default-iid-nullable'},
 3: {'o': 'http://www.openlinksw.com/schemas/virtrdf#QuadMapFormat',
  'p': 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type',
  's': 'http://www.openlinksw.com/virtrdf-data-formats#default-iid-nonblank'},
 4: {'o': 'http://www.openlinksw.com/schemas/virtrdf#QuadMapFormat',
  'p': 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type',
  's': 'http://www.openlinksw.com/virtrdf-data-formats#default-iid-nonblank-nullable'},
 5: {'o': 'http://www.openlinksw.com/schemas/virtrdf#QuadMapFormat',
  'p': 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type',
  's': 'http://www.openlinksw.com/virtrdf-data-formats#default'}}

## Gastrodon

- [Documentation](https://paulhoule.github.io/gastrodon/api.html)
- [Usage examples](https://github.com/paulhoule/gastrodon/blob/master/notebooks/remote/Querying%20DBpedia.ipynb)

Import gastrodon (for running SPARQL queries in Jupyter):

In [18]:
from gastrodon import RemoteEndpoint,QName,ttl,URIRef,inline
import pandas as pd
pd.options.display.width=120
pd.options.display.max_colwidth=100

Define prefixes:

In [19]:
prefixes=inline("""
    @prefix wos: <http://wos.risis.eu/vocabulary/> .
    @prefix kfir: <http://clokman.com/kfir/ontology#> .
    @prefix ldr: <https://github.com/ali1k/ld-reactor/blob/master/vocabulary/index.ttl#> .
    @prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
    @prefix wosGraph: <http://clokman.com/wos> .
    @prefix kfirGraph: <http://clokman.com/kfir> .
    @prefix testGraph: <http://clokman.com/test> .
    
    @prefix dbo: <http://dbpedia.org/ontology/> .
""").graph

Define endpoint:

In [20]:
eculture=RemoteEndpoint(
    url=eculture_endpoint_url,
    default_graph=None,
    prefixes=prefixes
)

Example count query:

In [21]:
count=eculture.select("""
    SELECT (COUNT(*) AS ?count) { ?s ?p ?o .}
""").at[0,"count"]
count

59980082

Another example count query:

In [22]:
count=eculture.select("""
SELECT (COUNT(DISTINCT ?article) as ?articles) 
WHERE{
    GRAPH wosGraph: {
        ?article a wos:Article .
    }
}
""").at[0,"articles"]
count

136125

Example select query:

In [23]:
eculture.select("""
    SELECT ?p (COUNT(*) AS ?count) { ?s ?p ?o .} GROUP BY ?p ORDER BY DESC(?count) LIMIT 10
""")

                                                 count
p
rdf:type                                      10059030
rdfs:label                                     9528801
wos:CR                                         6672631
http://www.w3.org/2004/02/skos/core#altLabel   3876744
wos:AF                                         3876692
wos:DOI                                        2317751
ldr:annotationDetail                           2162839
ldr:uri                                        2162837
ldr:surfaceForm                                2162835
ldr:offset                                     2162827

## NEO4s

This package is a wrapper around Gastrodon

Import:

In [21]:
from retriever.sparql_tools import Gastrodon_Query

Read eculture endpoint from file:

In [22]:
from preprocessor.Text_File import Text_File

# Get endpoint address from file
eculture_endpoint_url_file = Text_File('..//private//eculture_virtuoso_endpoint_address')
eculture_endpoint_url = eculture_endpoint_url_file.return_content()

Set query parameters:

In [23]:
eculture_query = Gastrodon_Query()
eculture_query.set_prefixes("""
    @prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
    @prefix skos: <http://www.w3.org/2004/02/skos/core#> .
    
    @prefix wos: <http://wos.risis.eu/vocabulary/> .
    @prefix wosres: <http://wos.risis.eu/resource/> .
    @prefix kfir: <http://clokman.com/kfir/ontology#> .
    @prefix ldr: <https://github.com/ali1k/ld-reactor/blob/master/vocabulary/index.ttl#> .

    @prefix wosGraph: <http://clokman.com/wos> .
    @prefix kfirGraph: <http://clokman.com/kfir> .
    @prefix testGraph: <http://clokman.com/test> .

    @prefix dbo: <http://dbpedia.org/ontology/> .
    @prefix vdf: <http://www.openlinksw.com/virtrdf-data-formats#> .
    @prefix vrdf: <http://www.openlinksw.com/schemas/virtrdf#> .
""").set_endpoint(eculture_endpoint_url)

In [24]:
eculture_query._get_prefixes()

{rdflib.term.URIRef('http://clokman.com/kfir'): 'kfirGraph',
 rdflib.term.URIRef('http://clokman.com/kfir/ontology#'): 'kfir',
 rdflib.term.URIRef('http://clokman.com/test'): 'testGraph',
 rdflib.term.URIRef('http://clokman.com/wos'): 'wosGraph',
 rdflib.term.URIRef('http://dbpedia.org/ontology/'): 'dbo',
 rdflib.term.URIRef('http://wos.risis.eu/resource/'): 'wosres',
 rdflib.term.URIRef('http://wos.risis.eu/vocabulary/'): 'wos',
 rdflib.term.URIRef('http://www.openlinksw.com/schemas/virtrdf#'): 'vrdf',
 rdflib.term.URIRef('http://www.openlinksw.com/virtrdf-data-formats#'): 'vdf',
 rdflib.term.URIRef('http://www.w3.org/1999/02/22-rdf-syntax-ns#'): 'rdf',
 rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#'): 'rdfs',
 rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#'): 'xsd',
 rdflib.term.URIRef('http://www.w3.org/2004/02/skos/core#'): 'skos',
 rdflib.term.URIRef('http://www.w3.org/XML/1998/namespace'): 'xml',
 rdflib.term.URIRef('https://github.com/ali1k/ld-reactor/blob/master/vocabulary/index.ttl#'): 'ldr'}

### SELECT Query

In [28]:
eculture_query.send_select_query("""
    SELECT ?s ?p ?o
    WHERE {
        ?s ?p ?o .
    }
    LIMIT 10
""")

                                   s         p                   o
0                    vdf:default-iid  rdf:type  vrdf:QuadMapFormat
1           vdf:default-iid-nullable  rdf:type  vrdf:QuadMapFormat
2           vdf:default-iid-nonblank  rdf:type  vrdf:QuadMapFormat
3  vdf:default-iid-nonblank-nullable  rdf:type  vrdf:QuadMapFormat
4                        vdf:default  rdf:type  vrdf:QuadMapFormat
5               vdf:default-nullable  rdf:type  vrdf:QuadMapFormat
6                    vdf:sql-varchar  rdf:type  vrdf:QuadMapFormat
7           vdf:sql-varchar-nullable  rdf:type  vrdf:QuadMapFormat
8                 vdf:sql-varchar-dt  rdf:type  vrdf:QuadMapFormat
9        vdf:sql-varchar-dt-nullable  rdf:type  vrdf:QuadMapFormat

### 'Count' Query

In [89]:
eculture_query.send_count_query(variable_that_holds_count_results = 'articles', query="""
    SELECT (COUNT(DISTINCT ?s) AS ?articles)   
    WHERE{
        GRAPH wosGraph: {
            ?s ?p wos:Article .
        }
    }
    LIMIT 100
"""
)

136125

### CONSTRUCT Query

In [90]:
eculture_query.send_construct_query(query="""
    CONSTRUCT {?s a wos:Article}
    WHERE{
        GRAPH wosGraph: {
            ?s ?p wos:Article .
        }
    }
    LIMIT 10
"""
)

C:\ProgramData\Anaconda3\lib\site-packages\SPARQLWrapper\Wrapper.py:585: RuntimeWarning:

Sending Accept header '*/*' because unexpected returned format 'json' in a 'CONSTRUCT' SPARQL query form

                      Subject Predicate       Object
0  wosres:WOS_000070998100010  rdf:type  wos:Article
1  wosres:WOS_000070998900007  rdf:type  wos:Article
2  wosres:WOS_000060208200006  rdf:type  wos:Article
3  wosres:WOS_000070961600033  rdf:type  wos:Article
4  wosres:WOS_000070935900005  rdf:type  wos:Article
5  wosres:WOS_000070970500011  rdf:type  wos:Article
6  wosres:WOS_000070948900005  rdf:type  wos:Article
7  wosres:WOS_000070969600003  rdf:type  wos:Article
8  wosres:WOS_000071006900008  rdf:type  wos:Article
9  wosres:WOS_000070961600011  rdf:type  wos:Article

### 'Update' Query (INSERT, DELETE)

View the testGraph (is empty):

In [76]:
eculture_query.send_select_query(query="""
    SELECT * {
        GRAPH testGraph:{
            ?s ?p ?o .
        }
    }
    LIMIT 10
""")

                            s                      p                       o
0  wosres:WOS_000070970500011  kfir:hasAuthorKeyword          photosynthesis
1  wosres:WOS_000070970500011  kfir:hasAuthorKeyword                   ozone
2  wosres:WOS_000070970500011  kfir:hasAuthorKeyword          UV-B radiation
3  wosres:WOS_000070970500011  kfir:hasAuthorKeyword                  growth
4  wosres:WOS_000070970500011  kfir:hasAuthorKeyword        Elymus athericus
5  wosres:WOS_000070998100010  kfir:hasAuthorKeyword      pain postoperative
6  wosres:WOS_000070998100010  kfir:hasAuthorKeyword  analgesics prescribing
7  wosres:WOS_000070998900007  kfir:hasAuthorKeyword                analysis
8  wosres:WOS_000070998900007  kfir:hasAuthorKeyword                  living
9  wosres:WOS_000070998900007  kfir:hasAuthorKeyword          reconstruction

Update testGraph with static, dummy triples:

In [77]:
eculture_query.send_update_query(query="""
    INSERT DATA {
        GRAPH testGraph: {
            <a> <b> <c> .
        }
    }
   
"""
)

Check if triples are added:

In [78]:
eculture_query.send_select_query(query="""
    SELECT * {
        GRAPH testGraph:{
            ?s ?p ?o .
        }
    }
    LIMIT 10
""")

                            s                      p                       o
0  wosres:WOS_000070970500011  kfir:hasAuthorKeyword          photosynthesis
1  wosres:WOS_000070970500011  kfir:hasAuthorKeyword                   ozone
2  wosres:WOS_000070970500011  kfir:hasAuthorKeyword          UV-B radiation
3  wosres:WOS_000070970500011  kfir:hasAuthorKeyword                  growth
4  wosres:WOS_000070970500011  kfir:hasAuthorKeyword        Elymus athericus
5  wosres:WOS_000070998100010  kfir:hasAuthorKeyword      pain postoperative
6  wosres:WOS_000070998100010  kfir:hasAuthorKeyword  analgesics prescribing
7  wosres:WOS_000070998900007  kfir:hasAuthorKeyword                analysis
8  wosres:WOS_000070998900007  kfir:hasAuthorKeyword                  living
9  wosres:WOS_000070998900007  kfir:hasAuthorKeyword          reconstruction

Add entries dynamically to testGraph:

In [79]:
eculture_query.send_update_query("""
    INSERT {
        GRAPH testGraph: {
            ?s a <match> .
        }
    }
    WHERE {
        GRAPH wosGraph: {
            ?s a wos:Article .
        }
    
    }   
"""
)

View the updated testGraph:

In [80]:
eculture_query.send_select_query(query="""
    SELECT * {
        GRAPH testGraph:{
            ?s ?p ?o .
        }
    }
    LIMIT 10
""")

                            s         p      o
0  wosres:WOS_000060208200006  rdf:type  match
1  wosres:WOS_000070935900005  rdf:type  match
2  wosres:WOS_000070948900005  rdf:type  match
3  wosres:WOS_000070961600011  rdf:type  match
4  wosres:WOS_000070961600033  rdf:type  match
5  wosres:WOS_000070969600003  rdf:type  match
6  wosres:WOS_000070970500011  rdf:type  match
7  wosres:WOS_000070998100010  rdf:type  match
8  wosres:WOS_000070998900007  rdf:type  match
9  wosres:WOS_000071006900008  rdf:type  match

Delete all triples in the testGraph:

In [81]:
# CLEAR GRAPH testGraph: causes timeout errors, hence the explicit style this query
eculture_query.send_update_query("""
    DELETE {
        GRAPH testGraph: {
          ?s ?p ?o .
        }
    }
    WHERE {
        GRAPH testGraph: {
            ?s ?p ?o .
        }
    }
"""
)

Confirm deletions:

In [ ]:
eculture_query.send_select_query(query="""
    SELECT * {
        GRAPH testGraph:{
            ?s ?p ?o .
        }
    }
 
""")